<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand">Project</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>&nbsp; Personagem</span></a>
          <ul class="dropdown-menu">
            <li><a href="">Status</a></li>
            <li><a href="">Inventario</a></li>
            <li><a href="">Skills</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-exclamation fa-fw"></i>&nbsp; Missões</span></a>
          <ul class="dropdown-menu">
            <li><a href=""><i class="fa fa-check-square-o fa-fw"></i>&nbsp; Progresso da Missão</a></li>
            <li><a href=""><i class="fa fa-th-list fa-fw"></i>&nbsp; Lista de Missões</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-map fa-fw"></i>&nbsp; Mapa</span></a>
          <ul class="dropdown-menu">
            <li><a href=""><i class="fa fa-map fa-fw"></i>&nbsp; Territorio atual</a></li>
            <li><a href="">Eventos</a></li>
            <li><a href=""><i class="fa fa-home fa-fw"></i>&nbsp; Safehouses</a></li>
            <li role="separator" class="divider"></li>
            <li><a href=""><i class="fa fa-globe fa-fw"></i>&nbsp; Mapa Global</a></li>
            <li><a href=""><i class="fa fa-car fa-fw"></i>&nbsp; Viajar</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-comments fa-fw"></i>&nbsp; Comunicação</span></a>
          <ul class="dropdown-menu">
            <li><a href=""><i class="fa fa-bell-o fa-fw"></i>&nbsp; Alertas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href=""><i class="fa fa-comment-o fa-fw"></i>&nbsp; Chat</a></li>
            <li><a href=""><i class="fa fa-envelope-o fa-fw"></i>&nbsp; Mensagens</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-users fa-fw"></i>&nbsp; Guilda</span></a>
          <ul class="dropdown-menu">
            <li><a href="">Participar</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">Criar uma guilda</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-star fa-fw"></i>&nbsp; Procurados</span></a>
          <ul class="dropdown-menu">
            <li><a href="">Caçador de Recompensas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">Ranking</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">user_email@email.com</p>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-fw"></i>&nbsp;</span></a>
          <ul class="dropdown-menu">
            <li><a href="">Action</a></li>
            <li><a href="">Another action</a></li>
            <li><a href="">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
