
.content {
  position: absolute;
  top: 50px;
  left:0px;
  right: 0px;
}

/* Status */

.char-box {
  padding: 20px;
}

.char-box .char-info{
  padding: 20px;
}

.char-box .char-info img{
  width: 135px;
  height: 135px;
  margin-right: 60px;
}

.char-box .char-info .char-name{
  margin-top: 10px;
  font-size: 38px;
}

.char-box .char-info .char-lvl{
  font-size: 20px;
}

.char-box .char-info .char-guild{
  font-size: 16px;
}
.char-box .char-info .char-itens{
  padding-top: 40px;
}
.char-box .char-info .char-itens i{
  margin-right: 30px;
}
.char-box .char-status{
  margin: 20px;
}
.char-inv ul{
  padding-left: 100px;
  padding-right: 100px;
}

.char-inv .equip-icon{
  width: 60px;
  height: 60px;
}

.progress-bar-exp {
  background-color: #9f9f9f;
}

/* Inventory */

.inventory-list img{
  vertical-align: inherit;
  width: 60px;
  height: 60px;
}

.equip-icon {
  width: 60px;
  height: 60px;
}


/* Skills */

.skill-list {
  padding: 20px;
}

.skill-list img{
  vertical-align: inherit;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.skill-list .skill-points{
  padding-top: 50px;
  float: right;
  vertical-align: middle;
}
