<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Character - Model</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" media="screen" title="no title" charset="utf-8">
    <!-- Web Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Project</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>&nbsp; Personagem</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Status</a></li>
            <li><a href="#">Inventario</a></li>
            <li><a href="#">Skills</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-exclamation fa-fw"></i>&nbsp; Missões</span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-check-square-o fa-fw"></i>&nbsp; Progresso da Missão</a></li>
            <li><a href="#"><i class="fa fa-th-list fa-fw"></i>&nbsp; Lista de Missões</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-map fa-fw"></i>&nbsp; Mapa</span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-map fa-fw"></i>&nbsp; Territorio atual</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Safehouses</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="fa fa-globe fa-fw"></i>&nbsp; Mapa Global</a></li>
            <li><a href="#"><i class="fa fa-car fa-fw"></i>&nbsp; Viajar</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-comments fa-fw"></i>&nbsp; Comunicação</span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-bell-o fa-fw"></i>&nbsp; Alertas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="fa fa-comment-o fa-fw"></i>&nbsp; Chat</a></li>
            <li><a href="#"><i class="fa fa-envelope-o fa-fw"></i>&nbsp; Mensagens</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-users fa-fw"></i>&nbsp; Guilda</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Participar</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Criar uma guilda</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-star fa-fw"></i>&nbsp; Procurados</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Caçador de Recompensas</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ranking</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">user_email@email.com</p>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-fw"></i>&nbsp;</span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
      </div>
    </nav>

    <div class="container">
      <div class="char-box">
        <div class="char-info">
          <div class="row">
            <div class="col-md-2">
              <img src="./images/user-ex.jpg" alt="character image" class="char-image" />
            </div>
            <div class="col-md-6">
              <h2 class="char-name">DarthLarus</h2>
              <p class="char-lvl">Nivel <span class="char-lvl-value"><strong>62</strong></span></p>
              <p class="char-guild">Imperio Sith</p>
            </div>
            <div class="col-md-4">
              <div class="char-itens text-right">
                <i class="fa fa-user-secret fa-4x"></i>
                <i class="fa fa-binoculars fa-4x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="char-status">
          <div class="row">
            <div class="col-md-6">
              <div class="char-att">
                <h4>Geral</h4>
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-condensed">
                      <tr>
                        <td>Attack</td>
                        <td>125</td>
                      </tr>
                      <tr>
                        <td>Defense</td>
                        <td>165</td>
                      </tr>
                      <tr>
                        <td>Action Points</td>
                        <td>3</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-condensed">
                      <tr>
                        <td>Critical</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>Dodge</td>
                        <td>22</td>
                      </tr>
                      <tr>
                        <td>Block</td>
                        <td>86</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <h4>Pericia</h4>
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-condensed">
                      <tr>
                        <td>Corpo a corpo</td>
                        <td>9</td>
                      </tr>
                      <tr>
                        <td>Longa distancia</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>Magia</td>
                        <td>2</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="char-inv">
                <h4>Equipamentos</h4>
                <ul class="list-unstyled text-center">
                  <hr>
                  <li>
                    <div class="row">
                      <div class="col-md-4">
                        <img src="../images/sword.png" alt="sword icon image" class="equip-icon" />
                      </div>
                      <div class="col-md-4">
                        <img src="../images/armor.png" alt="sword icon image" class="equip-icon" />
                      </div>
                      <div class="col-md-4">
                        <img src="../images/shield.png" alt="sword icon image" class="equip-icon" />
                      </div>
                    </div>
                  </li>
                  <hr>
                  <li >
                    <div class="row">
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-4">
                        <img src="../images/ring.png" alt="sword icon image" class="equip-icon" />
                      </div>
                      <div class="col-md-4">
                        <img src="../images/ring.png" alt="sword icon image" class="equip-icon" />
                      </div>
                      <div class="col-md-2">
                      </div>
                    </div>
                  </li>

                  <hr>
                </ul>
                <div class="row">
                  <div class="col-md-2">
                    <img src="./images/moto.png" alt="sword icon image" class="equip-icon" />
                  </div>
                  <div class="col-md-4">
                    <h4 class="char-name">Moto XS-35</h4>
                    <p>Speed: 312</p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-home fa-4x"></i>
                  </div>
                  <div class="col-md-4">
                    <h4 class="char-name">Capital - Distrito B</h4>che
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
