<div class="container">
  <div class="quests">
    <div class="main-quests">
      <h2>Main quests</h2>
      <hr>
      <ul class="list-unstyled">
        <li>
          <div class="row">
            <div class="col-md-10">
              <h4>Que tal uma pequena luta?</h4>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#quest-modal">Começar</button>
            </div>
            <div class="modal fade" id="quest-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Que tal uma pequena luta?</h4>
                </div>
                <div class="modal-body">
                  Vejo que já conheceu o Almirante. Ele é um homem bastante excêntrico hein?
                  Mas não se preocupe com isso, garanto que ele não morde.
                  <br>
                  <br>
                  Eu sou o tenente “nome legal aqui”. Sim, sou bastante novo para ser um tenente, mas não
                  se engane com a minha aparência. Vejamos… hm… é a sua primeira missão certo?
                  Já lutou antes? Pela sua cara vejo que não. Pois bem, que tal praticar um pouco
                  antes de eu lhe entregar uma missão de verdade.
                  <br>
                  <br>
                  Ali, derrote aquele soldado na arena.

                  <hr>
                  Recompensas: 150 XP e Espada simples.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Aceitar</button>
                </div>
              </div>
            </div>
          </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
    <div class="side-quests">
      <h2>Side quests</h2>
      <hr>
      <ul class="list-unstyled">

      </ul>
    </div>
  </div>
</div>
