<div class="container">
  <div class="quests">
    <div class="main-quests">
      <h2>Main quests</h2>
      <hr>
      <ul class="list-unstyled">
        <li ng-repeat="quest in quests">
          <div class="row">
            <div class="col-md-10">
              <h4>{{quest.title}}</h4>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#quest-modal-{{quest.id}}">Começar</button>
            </div>
            <div class="modal fade" id="quest-modal-{{quest.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{quest.title}}</h4>
                </div>
                <div class="modal-body" >
                  <p ng-bind-html="quest.description">

                  </p>
                  <hr>
                  Recompensas: {{quest.reward_exp}} XP e <span ng-repeat="iten in quest.reward_itens">{{iten}}, </span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Aceitar</button>
                </div>
              </div>
            </div>
          </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
    <div class="side-quests">
      <h2>Side quests</h2>
      <hr>
      <ul class="list-unstyled">

      </ul>
    </div>
  </div>
</div>
