<div class="container">
  <div class="text-center">
    <h2>Skills</h2>
    <h4>Você possui <strong>3</strong> pontos para usar.</h4>
    <p>
      Lembre-se, você pode adquirir habilidades de qualquer um dos 3 tipos, mas verifique se você possui o
      equipamento necessario para usar essa habilidade.
    </p>
  </div>
  <br>
  <div class="" ng-init="tab = 1">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" id="close-skill-tab" ng-class="{ active: tab === 1}"><a href="" ng-click="tab = 1" >Corpo a corpo <span class="badge">6</span></a></li>
      <li role="presentation" id="long-skill-tab" ng-class="{ active: tab === 2}"><a href="" ng-click="tab = 2">Longa Distancia </a></li>
      <li role="presentation" id="magic-skill-tab" ng-class="{ active: tab === 3}"><a href="" ng-click="tab = 3">Magia </a></li>
    </ul>

    <div class="skill-list">
      <ul class="list-unstyled">
        <li ng-repeat="skill in getList()">
          <ul class="list-unstyled list-inline">
            <li><img ng-src="/{{skill.img_url}}" alt="" /></li>
            <li>
              <h4>{{skill.name}}</h4>
              <p>
                Requer: Espada, Machado, Espada de Duas mãos <br>
                Dano: {{skill.damage}} | Custo: {{skill.cost}} | Efeito: {{skill.effect_description}}
              </p>
              <p>
                {{skill.description}}
              </p>
            </li>
            <li class="text-right skill-points">
              <i class="fa fa-plus fa-fw"></i>&nbsp; 0 &nbsp;<i class="fa fa-minus fa-fw"></i>
            </li>
          </ul>
          <hr>
        </li>
      </ul>
    </div>
  </div>

</div>
