<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" media="screen" title="no title" charset="utf-8">
    <!-- Web Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </head>
    <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Project</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>&nbsp; Personagem</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Status</a></li>
                <li><a href="#">Inventario</a></li>
                <li><a href="#">Skills</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-exclamation fa-fw"></i>&nbsp; Missões</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-check-square-o fa-fw"></i>&nbsp; Progresso da Missão</a></li>
                <li><a href="#"><i class="fa fa-th-list fa-fw"></i>&nbsp; Lista de Missões</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-map fa-fw"></i>&nbsp; Mapa</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-map fa-fw"></i>&nbsp; Territorio atual</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Safehouses</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-globe fa-fw"></i>&nbsp; Mapa Global</a></li>
                <li><a href="#"><i class="fa fa-car fa-fw"></i>&nbsp; Viajar</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-comments fa-fw"></i>&nbsp; Comunicação</span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-bell-o fa-fw"></i>&nbsp; Alertas</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-comment-o fa-fw"></i>&nbsp; Chat</a></li>
                <li><a href="#"><i class="fa fa-envelope-o fa-fw"></i>&nbsp; Mensagens</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-users fa-fw"></i>&nbsp; Guilda</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Participar</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Criar uma guilda</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-star fa-fw"></i>&nbsp; Procurados</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Caçador de Recompensas</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Ranking</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">user_email@email.com</p>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-fw"></i>&nbsp;</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="equips text-center">
        <h2>Equipamento</h2>
        <br>
        <ul class="list-unstyled list-inline">
          <li>
            <img src="../images/sword.png" alt="sword icon image" class="equip-icon" />
          </li>
          <li>
            <img src="../images/armor.png" alt="sword icon image" class="equip-icon" />
          </li>
          <li>
            <img src="../images/shield.png" alt="sword icon image" class="equip-icon" />
          </li>
          <hr>
          <li>
            <img src="../images/ring.png" alt="sword icon image" class="equip-icon" />
          </li>
          <li>
            <img src="../images/ring.png" alt="sword icon image" class="equip-icon" />
          </li>
          <hr>
        </ul>
      </div>
      <div class="inventory">
        <div class="text-center">
          <h2>Inventario</h2>
          <p>
            15/20
          </p>
        </div>
        <div class="row inventory-list">
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon Duas maos 1</h4>
                <p>
                  Espada de duas maos <br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon Alcance 1</h4>
                <p>
                  Pistola<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled list-inline">
              <li><img src="../icons/789_Lorc_RPG_icons/Icon.7_59.png" alt="" /></li>
              <li>
                <h4>Weapon 1</h4>
                <p>
                  Espada<br>
                  Dano: 50
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
